<html lang="ru">
<head>
  <title>Tourism analytics acesta. Public offer</title>
  <meta charset="utf-8">
  <meta name="author" content="Eugena Mikhaylikova">
  <meta name="subject" content="Tourism analytics service - acesta. Public offer">
  <style>
      @page {margin:0;padding:20mm;size:a4;}
      @font-face {font-family:'Nunito';font-weight:400;src:url('/static/font/Nunito-Regular.ttf')}
      @font-face {font-family:'Nunito';font-weight:200;font-style: italic;src:url('/static/font/Nunito-Italic.ttf')}
      @font-face {font-family:'Nunito';font-weight:700;src:url('/static/font/Nunito-Bold.ttf')}
      body{font-family:Nunito,sans-serif;font-size:14px;font-weight:400; line-height:1}
      a{color:#34766A}
      h1{padding: 0x;margin:0;font-size:24px;font-weight:700;text-align:center}
      h2{padding:0x;margin:8px 0 6px;font-size:18px;font-weight:700;text-align:center}
      h4{padding: 4px 0; margin:0;font-weight:700;text-align:center}
      p{margin:2px 0;padding:0}
      p.b1{margin-bottom:6px}
      i{font-weight:200;}
    </style>
  </head>
  <body>
    <table width="100%">
      <tr>
        <td>
          <h1>ОФЕРТА</h1>
          <h4>на оказание услуг</h4>
          <p class="b1">Российская федерация. г. Екатеринбург</p>
          <p>Настоящая оферта представляет собой предложение ИП Михайликовой Евгении Александровны именуемой в&nbsp;дальнейшем «Исполнитель» заключить соответствующий Договор возмездного оказания Услуг на&nbsp;изложенных ниже условиях.</p>
          <h2>1. ОПРЕДЕЛЕНИЯ И&nbsp;ТЕРМИНЫ</h2>
          <p>1.1. В&nbsp;целях настоящего документа нижеприведенные термины используются в&nbsp;следующем значении:</p>
          <p><i>Оферта</i> — настоящий документ «Оферта на&nbsp;оказание услуг», размещенный в&nbsp;сети Интернет по&nbsp;адресу <a href="https://acesta.ru">https://acesta.ru</a>.</p>
          <p><i>Услуги</i> — услуги, которые Исполнитель оказывает Заказчику на&nbsp;условиях Оферты и&nbsp;Применимых документов.</p>
          <p><i>Акцепт Оферты</i> — полное и&nbsp;безоговорочное принятие Оферты путем осуществления действий, указанных в&nbsp;тексте Оферты Акцепт Оферты означает заключение Договора.</p>
          <p><i>Договор</i> — возмездный договор между Заказчиком и&nbsp;Исполнителем на&nbsp;оказание Услуг, который заключается посредством Акцепта Оферты.</p>
          <p><i>Заказчик</i> — физическое или юридическое лицо, осуществившее Акцепт Оферты.</p>
          <p><i>Веб-интерфейс (Сайт)</i> означает следующий сайт: Аналитика в&nbsp;туризме&nbsp;—&nbsp;ацеста, который принадлежит Администрации и&nbsp;находится по&nbsp;следующей ссылке: <a href="https://acesta.ru">https://acesta.ru</a>, предназначенный для&nbsp;заказа Услуг в&nbsp;отношении исполнения Договора и&nbsp;Заказчиком, а&nbsp;также предоставляет возможность для&nbsp;Исполнителя и&nbsp;заказчика удаленно взаимодействовать в&nbsp;процессе исполнения Договора. Доступ к&nbsp;сайту предоставляется Заказчику после авторизации.</p>
          <p>1.2. В&nbsp;Оферте могут быть использованы термины, не&nbsp;определенные в&nbsp;п.1.1. Оферты. В&nbsp;этом случае толкование такого термина производится в&nbsp;соответствии с&nbsp;текстом Оферты. В&nbsp;случае отсутствия однозначного толкования термина в&nbsp;тексте Оферты следует руководствоваться толкованием термина, определенным: в&nbsp;первую очередь — Применимыми документами, во вторую очередь — законодательством РФ, затем — сложившимся (общеупотребимым) в&nbsp;сети Интернет.</p>

          <h2>2. ПРЕДМЕТ ДОГОВОРА</h2>
          <p>2.1. Предметом Договора является возмездное оказание Исполнителем Заказчику Услуг на&nbsp;условиях Оферты и&nbsp;соответствующих Применимых документов.</p>
          <p>2.2. К&nbsp;Услугам, которые оказывает Исполнитель на&nbsp;условиях Оферты, применяются следующие обязательные документы («Применимые документы»):</p>
          <p>2.2.1. «Условия Использования (Условия)», размещенные в&nbsp;сети Интернет по&nbsp;адресу: <a href="https://acesta.ru/terms/">https://acesta.ru/terms/</a>.</p>
          <p>2.2.2. Условия о существующих акциях, прайс-лист и&nbsp;др. документы, размещенные в&nbsp;сети Интернет по&nbsp;адресу: <a href="https://acesta.ru">https://acesta.ru</a>.</p>
          <p>2.3. В&nbsp;случае противоречий между требованиями Применимых документов и&nbsp;Офертой применяются положения Применимых документов.</p>
          <h2>3. УСЛОВИЯ ОКАЗАНИЯ УСЛУГ</h2>
          <p>3.1. Услуги оказываются только в&nbsp;отношении тех единиц Услуг (например, рекламных или иных кампаний, заказов и&nbsp;т.п.) для&nbsp;которых Заказчиком осуществлен Акцепт Оферты.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>3.2. Заказчик (представитель Заказчика) самостоятельно осуществляет все необходимые действия, связанные с&nbsp;оказанием Услуг и&nbsp;использованием результатов оказания Услуг.</p>
          <p>3.3. Исполнитель вправе, но не&nbsp;обязан осуществлять проверку предоставляемых и/или загружаемых Заказчиком материалов на&nbsp;предмет их соответствия требованиям Оферты и/или Применимых документов.</p>
          <p>3.4. Для&nbsp;целей оказания Услуг, в&nbsp;том числе для&nbsp;загрузки Материалов, Заказчику может предоставляться доступ в&nbsp;Веб-интерфейс при условии авторизации Заказчика с&nbsp;использованием логина и&nbsp;пароля Заказчика, если иной способ не&nbsp;предусмотрен Применимыми документами, либо не&nbsp;согласован между Заказчиком и&nbsp;Исполнителем отдельно. Заказчик самостоятельно несет ответственность за&nbsp;сохранность и&nbsp;конфиденциальность любых используемых средств авторизации.</p>
          <p>3.5. Исполнитель оставляет за&nbsp;собой право приостановить оказание Услуг и/или расторгнуть Договор(-ы) с&nbsp;Заказчиком в&nbsp;одностороннем порядке в&nbsp;случае, если Заказчик имеет задолженность по&nbsp;оплате Услуг перед Исполнителем.</p>
          <p>3.6. Исполнитель не&nbsp;предоставляет Заказчику никаких гарантий в&nbsp;отношении использования и&nbsp;результатов (эффективности) использования Заказчиком Услуг. Услуги, а&nbsp;также соответствующие Веб-интерфейсы предоставляются «как есть». Заказчик подтверждает, что самостоятельно и&nbsp;без принуждения со стороны Исполнителя выбрал Исполнителя в&nbsp;качестве поставщика Услуг, а&nbsp;также что состав и&nbsp;объем Услуг, которые приобретает Заказчик, определены им самостоятельно в&nbsp;собственных интересах Заказчика.</p>
          <p>3.7. Исполнитель обязуется оказать Заказчику Услуги в&nbsp;соответствии с&nbsp;Договором, заключенным на&nbsp;условиях Оферты.</p>
          <p>3.8. Исполнитель имеет право временно приостановить оказание Услуг по&nbsp;техническим, технологическим или иным причинам, препятствующим оказанию Услуг, на&nbsp;время устранения таких причин, приостановить оказание Услуг по&nbsp;Договору и/или досрочно расторгнуть Договор в&nbsp;одностороннем внесудебном порядке путем уведомления Заказчика в&nbsp;случаях нарушения Заказчиком своих обязательств и/или гарантий в&nbsp;соответствии с&nbsp;Офертой и/или Применимыми документами.</p>
          <p>3.9. Заказчик обязуется: самостоятельно осуществлять все необходимые и&nbsp;требуемые от&nbsp;Заказчика действия, связанные с&nbsp;использованием Услуг и&nbsp;результатов оказания Услуг (готовить и&nbsp;предоставлять Материалы, выбирать необходимые параметры и&nbsp;настройки оказания Услуг через Веб-интерфейс или через API, но не&nbsp;ограничиваясь указанным), не&nbsp;злоупотреблять предоставленными Заказчику по&nbsp;Договору возможностями в&nbsp;части использования, загрузки, размещения и/или распространения материалов, а&nbsp;также в&nbsp;части использования данных статистики, иной информации и&nbsp;результатов оказания Услуг, оплачивать Услуги Исполнителя в&nbsp;сроки и&nbsp;на условиях, установленных Офертой и/или Применимыми документами.</p>
          <p>3.10. В&nbsp;целях исполнения требований, предусмотренных № 38-ФЗ «О рекламе», Заказчик поручает, а&nbsp;Исполнитель обязуется предоставлять информацию о распространенной в&nbsp;информационно-телекоммуникационной сети «Интернет» рекламе в&nbsp;федеральный орган исполнительной власти, осуществляющий функции по&nbsp;контролю и&nbsp;надзору в&nbsp;сфере средств массовой информации, массовых коммуникаций, информационных технологий и&nbsp;связи, в&nbsp;соответствии с&nbsp;положениями Условий предоставления информации в&nbsp;ЕРИР.</p>
          <p>3.11. Заказчик соглашается с&nbsp;тем, что Услуги не&nbsp;относятся к&nbsp;числу услуг, оказываемых исключительно для&nbsp;личных, семейных, домашних и&nbsp;иных нужд, не&nbsp;связанных с&nbsp;осуществлением предпринимательской деятельности, и&nbsp;что к&nbsp;отношениям, возникающим между Заказчиком и&nbsp;Исполнителем в&nbsp;связи с&nbsp;оказанием Услуг, не&nbsp;применяются положения Закона РФ от&nbsp;07.02.1992 № 2300-1 «О защите прав потребителей».</p>
        </td>
      </tr>
      <tr>
        <td>
          <h2>4. СТОИМОСТЬ УСЛУГ И&nbsp;УСЛОВИЯ ОПЛАТЫ</h2>
          <p>4.1. Стоимость Услуг, оказанных Исполнителем, определяется в&nbsp;соответствии с&nbsp;ценами на&nbsp;Услуги, указанными в&nbsp;соответствующем Веб-интерфейсе, расположенными на&nbsp;сайте <a href="https://acesta.ru">https://acesta.ru</a>, либо указанными в&nbsp;соответствующих Применимых документах.</p>
          <p>4.2. Отчетный период для&nbsp;целей оказания Услуг составляет календарный месяц, если иное не&nbsp;указано в&nbsp;Применимых документах.</p>
          <p>4.3. Стоимость Услуг указывается в&nbsp;счете, выставляемом Заказчику (если выставление счета предусмотрено Применимыми документами), с&nbsp;учетом требований налогового законодательства Российской Федерации.</p>
          <p>4.4. Оплата Услуг производится Заказчиком в&nbsp;российских рублях по&nbsp;безналичному расчету. Для&nbsp;физических лиц возможно внесение оплаты по&nbsp;банковским реквизитам банковской карты (по согласованию с&nbsp;Исполнителем).</p>
          <p>4.5. Если иное не&nbsp;указано в&nbsp;Применимых документах, Услуги оказываются Заказчику на&nbsp;условиях предварительной оплаты Услуг. Заказчик производит авансовый платеж в&nbsp;размере 100% (ста процентов) от&nbsp;общей стоимости заказываемых Услуг на&nbsp;основании счета, выставленного Заказчику в&nbsp;течение 2 (двух) рабочих дней с&nbsp;даты выставления счета. Оплата Заказчиком счета является Акцептом Оферты и&nbsp;влечет заключение Договора на&nbsp;условиях Оферты.</p>
          <p>4.6. По&nbsp;согласованию с&nbsp;Исполнителем заказчику может быть предоставлена отсрочка платежа.</p>
          <p>4.7. Услуги считаются оплаченными Заказчиком с&nbsp;момента поступления соответствующей суммы на&nbsp;корреспондентский счет банка Исполнителя.</p>
          <p>4.8. Возврат неиспользованных денежных средств осуществляется на&nbsp;основании письменного заявления Заказчика.</p>

          <h2>5. АКЦЕПТ ОФЕРТЫ И&nbsp;СРОК ДЕЙСТВИЯ ДОГОВОРА</h2>
          <p>5.1. Заказчик производит Акцепт Оферты:
          <p>5.1.1. В&nbsp;случае заключения Договора на&nbsp;условиях предоплаты путем предварительной оплаты по&nbsp;счету тех Услуг, в&nbsp;отношении которых заключается Договор, в&nbsp;течение срока, установленного Офертой для&nbsp;оплаты такого счета. В&nbsp;случае если Акцепт Оферты и&nbsp;оплата счета не&nbsp;были произведены в&nbsp;течение установленного срока, Оферта теряет силу в&nbsp;отношении таких заказываемых Услуг, а&nbsp;Исполнитель не&nbsp;имеет перед Заказчиком никаких обязательств, кроме обязательств по&nbsp;конфиденциальности.</p>
          <p>5.1.3. Если по&nbsp;истечении 2 (двух) календарных дней с&nbsp;момента выставления счета на&nbsp;Услуги на&nbsp;условиях отсрочки платежа Заказчик не&nbsp;произвел оплату такого счета и&nbsp;в указанный период отсутствует факт оказания Услуг, Исполнитель вправе аннулировать такой счет и&nbsp;соответствующий Договор считается незаключенным.</p>
          <p>5.2. Между Заказчиком Исполнителем может быть одновременно заключено неограниченное количество Договоров на&nbsp;условиях Оферты, если иное не&nbsp;предусмотрено Применимыми документами, либо такие ограничения обусловлены особенностями оказываемых Услуг.</p>
          <p>5.3. Исполнитель оставляет за&nbsp;собой право внести изменения в&nbsp;условия Оферты, а&nbsp;также в&nbsp;Применимые документы, и/или отозвать Оферту, а&nbsp;также прекратить действие любого из Применимых документов, в&nbsp;любой момент по&nbsp;своему усмотрению.</p>
          <h2>6. СРОК ДЕЙСТВИЯ И&nbsp;РАСТОРЖЕНИЕ ДОГОВОРА</h2>
          <p>6.1. Договор вступает в&nbsp;силу с&nbsp;момента Акцепта Оферты Заказчиком и&nbsp;действует: а) до момента исполнения сторонами обязательств по&nbsp;Договору, либо б) до момента расторжения Договора.</p>
          <p>6.2. Договор может быть расторгнут:
          <p>6.2.1. По&nbsp;соглашению сторон Договора в&nbsp;любое время.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>6.3.2. По&nbsp;инициативе любой из сторон Договора в&nbsp;случае нарушения условий Договора другой стороной с&nbsp;обязательным письменным уведомлением такой стороны.</p>
          <p>6.3.3. По&nbsp;иным основаниям, предусмотренным Офертой и/или Применимыми документами.</p>
          <h2>7. ФОРС-МАЖОР</h2>
          <p>7.1. Ни одна из Сторон не&nbsp;будет нести ответственности за&nbsp;неисполнение или задержку в&nbsp;исполнении каких-либо обязательств по&nbsp;настоящему Договору в&nbsp;случае, если это неисполнение или эта задержка в&nbsp;исполнении вызваны обстоятельствами форс-мажора, включая стихийные бедствия, войны, террористические акты, гражданские беспорядки, трудовые конфликты и&nbsp;т.д.</p>

          <h2>8. ПРИМЕНИМОЕ ПРАВО</h2>
          <p>8.1 Настоящий Договор должен быть подчинен и&nbsp;истолкован в&nbsp;соответствии с&nbsp;российским правом.</p>

          <h2>9. РЕКВИЗИТЫ ИСПОЛНИТЕЛЯ</h2>
          <p>Индивидуальный Предприниматель Михайликова Евгения Александровна</p>
          <p>Юридический адрес: 620042, Россия, Свердловская область, г. Екатеринбург, ул. Республиканская, д. 5, кв. 325</p>
          <p>ИНН: 666001308820</p>
          <p>ОГРН: 323665800112731</p>
          <p>Веб-сайт: <a href="https://acesta.ru">https://acesta.ru</a></p>
          <p>Email: <a href="mailto:info@acesta.ru">info@acesta.ru</a></p>
          <p>Расчетный счет: 40802810900004782663</p>
          <p>Банк: АО «ТБанк»</p>
          <p>БИК банка: 044525974</p>
          <p>Корреспондентский счет банка: 30101810145250000974</p>
          <p>ИНН банка: 7710140679</p>
        </td>
      </tr>
  </table>
  </body>
</html>
