<html lang="ru">
<head>
  <title>Tourism analytics acesta. Commercial Offer for Region {{ region.code }}</title>
  <meta charset="utf-8">
  <meta name="author" content="Eugena Mikhaylikova">
  <meta name="subject" content="Tourism analytics service - acesta. Commercial Offer for Region {{ region.code }}">
  <style>
      @page {margin:0;padding:72px}
      @font-face {font-family:'Nunito';font-weight:400;src:url('/static/font/Nunito-Regular.ttf')}
      @font-face {font-family:'Nunito';font-weight:700;src:url('/static/font/Nunito-Bold.ttf')}
      body{font-family:Nunito,sans-serif;font-size:14px;font-weight:400; line-height:1}
      a{color:#34766A}
      h1{padding: 48px 0 14px;font-weight:700}
      strong{font-weight:700}
      .table-border,.table-border th,.table-border td{border:1px solid #ccc;border-collapse:collapse;}
      p.b0{margin-bottom:2px;padding-bottom:0}
      p.b1{margin-bottom:6px}
      p.t0{margin-top:0}
      p.t1{padding-top:8px}
      li{padding-left:8px;margin-bottom:2px}
      td.b2{padding-bottom:4px}
    </style>
  </head>
  <body>
  <table width="100%">
      {% include "include/offer_head.html" %}
    <tr>
      <td colspan="2" class="b2">
        <p class="b0">Аналитический сервис ацеста предлагает рассмотреть возможность использования услуги <b>«Полный доступ»</b>.</p>
        <p class="t0 b0">Преимущества использования сервиса:</p>
          <ul>
            <li>методика построения отчетов доказала свою эффективность в&nbsp;регионах</li>
            <li>аналитика строится на&nbsp;актуальных данных Яндекс.Подбор слов, ВКонтакте и&nbsp;Росстат</li>
            <li>сервис охватывает все регионы Российской Федерации</li>
            <li>полный доступ открывается сразу после оплаты</li>
          </ul>
        <p class="t0"><b>Полный доступ</b> к&nbsp;аналитике дает дополнительную детализацию и&nbsp;подходит для&nbsp;профессиональной оценки туристического потенциала региона.</p>
        <p class="b1">Характеристики и стоимость услуги <b>«Полный доступ»</b>:</p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <ul>
          <li><b>Аналитика интереса к турпродуктам</b> на уровне городов и&nbsp;точек притяжения</li>
          <li><b>Аналитика целевых групп туристов</b> на уровне городов и&nbsp;точек притяжения</li>
          <li><b>Рейтинги по интересу к турпродуктам</b> на уровне городов и&nbsp;точек притяжения</li>
          <li><b>Рекомендации искусственного интеллекта</b></li>
        </ul>
        <br>
        <table class="table-border" cellpadding="5">
          <tr>
            <td rowspan="2">Стоимость</td>
            <td align="center" colspan="2"><strong>{{ region.title }}</strong> (ранг&nbsp;{{ region.rank }})</td>
            <td align="center" colspan="2"><strong>{{ district_title }} федеральный округ</strong></td>
          </tr>
          <tr>
            <td align="center">1 вид туризма</td>
            <td align="center">все виды туризма</td>
            <td align="center">1 вид туризма</td>
            <td align="center">все виды туризма</td>
          </tr>
          <tr>
            <td>за неделю</td>
            <td align="right"><strong>{{ cost_1w_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_1w }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_1w_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_1w }} ₽</strong></td>
          </tr>
          <tr>
            <td>за месяц</td>
            <td align="right"><strong>{{ cost_1m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_1m }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_1m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_1m }} ₽</strong></td>
          </tr>
          <tr>
            <td>за полгода (со скидкой {{ discounts.gt_6_discount }}%)</td>
            <td align="right"><strong>{{ cost_6m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_6m }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_6m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_6m }} ₽</strong></td>
          </tr>
          <tr>
            <td>за год (со скидкой {{ discounts.gt_12_discount }}%)</td>
            <td align="right"><strong>{{ cost_12m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_12m }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_12m_1t }} ₽</strong></td>
            <td align="right"><strong>{{ cost_district_12m }} ₽</strong></td>
          </tr>
        </table>
        <p>НДС не облагается.</p>
        <p>Услуги оказываются на&nbsp;основании Оферты. Оплата услуг осуществляется на&nbsp;основании счета. По&nbsp;факту оказания услуг предоставляется акт выполненных работ.</p>
        <p>Срок указанной стоимости по&nbsp;данному предложению: {% now 'd.m.Y' %}.</p>
      </td>
    </tr>
  </table>
  {% if not DEBUG %}
    {% include "include/metrika.html" %}
  {% endif %}
  </body>
</html>
