{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Услуги и&nbsp;цены. {% endblock %}

{% block part_title %}
  <div class="container pt-5 mb-3">
    <div class="row">
      <div class="col-12 col-md-3">
        <h1 class="fs-4 mb-2 text-muted text-nowrap">Услуги и&nbsp;цены</h1>
      </div>
      <div class="col-12 col-md-9 pt-3 pt-md-0 d-flex align-items-center justify-content-md-end text-nowrap">
        {% if request.user.current_region.rank > 0%}
          <a href="{% url 'oferta' %}" class="ms-md-3 text-secondary py-2" title="Скачать оферту"><svg fill="#34766a" class="me-1" width="22" height="22"><use href="{% static 'img/sprite.svg' %}#document"></use></svg>Оферта</a>
          <a href="{% url 'offer' %}" class="ms-2 ms-md-3 text-secondary py-2 text-nowrap" title="Скачать коммерческое предложение"><svg fill="#fab222" class="me-1" width="22" height="22"><use href="{% static 'img/sprite.svg' %}#document"></use></svg>Коммерческое предложение</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  {{ block.super }}
  <div class="modal fade" id="orderReport" tabindex="-1" role="dialog" aria-labelledby="orderReportLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form action="{% url 'support' %}" method="post">
          <div class="modal-header bg-light">
            <h5 class="modal-title" id="orderReportLabel"><svg fill="#ad223c" class="me-1" width="24" height="24"><use href="{% static 'img/sprite.svg' %}#report"></use></svg>Заказ отчета</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {% csrf_token %}
              <div>
                <textarea required class="form-control" name="message" id="textMessage" rows="10" autocomplete="off"></textarea>
                <div id="messageHelp" class="form-text text-muted ms-2">Опишите подробно, какой отчет вам нужен, чтобы мы могли лучше подготовиться к&nbsp;встрече и&nbsp;быстрее создали его</div>
              </div>
              {{ support_form.user }}
              {{ support_form.subject }}
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-lg btn-outline-primary"><svg fill="#429388" class="me-1" width="22" height="22"><use href="{% static 'img/sprite.svg' %}#send"></use></svg>Отправить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row pb-3 overflow-auto price-container">
    <div class="col pe-0">
      <table class="w-100">
        <tr>
          <td colspan="2"></td>
          <td class="text-center plan-container bg-green text-white px-3 pt-3 pb-3 rounded-top-left">
            <h2 class="text-white fs-6">Базовый<span class="d-none d-lg-inline"> доступ</span></h2>
            <p class="fw-bold fs-5 mb-2">бесплатно</p>
            <a href="{% url 'region' %}" class="btn btn-outline-light px-4">Начать</a>
          </td>
          <td class="text-center plan-container bg-yellow text-white px-3 pt-3 pb-3">
            <h2 class="text-white fs-6">Полный<span class="d-none d-lg-inline"> доступ</span></h2>
            <p class="fw-bold fs-5 mb-2 text-nowrap">{% if price %}от {{ price }} ₽/нед{% else %}0 ₽/мес{% endif %}
              <a href="#" data-bs-toggle="tooltip" data-bs-html="true" title="
                <p class='mt-1 mb-1 text-nowrap'><small>Регион 0 ранга: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>{{ prices.rank_0 }} ₽</b>/мес</small></p>
                <p class='mb-1 text-nowrap'><small>Регион 1 ранга: <b>{{ prices.rank_1 }} ₽</b>/мес</small></p>
                <p class='mb-1 text-nowrap'><small>Регион 2 ранга: <b>{{ prices.rank_2 }} ₽</b>/мес</small></p>
                <p class='mb-1 text-nowrap'><small>Регион 3 ранга: <b>{{ prices.rank_3 }} ₽</b>/мес</small></p>
                <p class='mb-1 text-nowrap'><small>Регион 4 ранга: <b>{{ prices.rank_4 }} ₽</b>/мес</small></p>
                <hr>
                <p class='mb-1 text-nowrap'><small>-<b>{{ discounts.gt_6_discount}}%</b> при заказе от&nbsp;&nbsp;6&nbsp;мес</small></p>
                <p class='mb-1 text-nowrap'><small>-<b>{{ discounts.gt_12_discount}}%</b> при заказе от&nbsp;12&nbsp;мес</small></p>
                ">
                <svg fill="#ffffff" width="22" height="22"><use href="/static/img/sprite.svg#help"></use></svg>
              </a>
            </p>
            <a href="{% url 'user' code=request.user.current_region.code %}" class="btn btn-outline-light px-4{% if not request.user.current_region.rank %} disabled{% endif %}"><div class="d-block d-lg-none">Заказать</div><div class="d-none d-lg-block text-nowrap">Отправить заявку</div></a>
          </td>
          <td class="text-center plan-container bg-red text-white px-3 pt-3 pb-3 rounded-top-right">
            <h2 class="text-white fs-6"><span class="d-inline d-lg-none">Отчет</span><span class="d-none d-lg-inline">Аналитический отчет</span></h2>
            <p class="fw-bold text-nowrap fs-5 mb-2">от 100 000 ₽</p>
            <a href="#" data-bs-toggle="modal" data-bs-target="#orderReport" class="btn btn-outline-light px-4`"><div class="d-block d-lg-none">Заказать</div><div class="d-none d-lg-block text-nowrap">Отправить заявку</div></a>
          </td>
        </tr>
        <tr>
          <td class="border px-2 py-1 rounded-top-left" rowspan="3"><small><b>Аналитика интереса к&nbsp;турпродуктам</b> на&nbsp;уровне</small></td>
          <td class="border px-2 py-1"><small>регионов</small></td>
          <td width="21%" class="text-center border"><span class="dot"></span></td>
          <td width="21%" class="text-center border"><span class="dot"></span></td>
          <td width="21%" class="text-center border p-3" rowspan="10">Создание аналитического отчета или выгрузка данных по&nbsp;техническому заданию</td>
        </tr>
        <tr>
          <td class="border px-2 py-1"><small>городов</small></td>
          <td class="text-center border"></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1" nowrap><small>точек притяжения</small></td>
          <td class="text-center border"></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1" rowspan="2"><small><b>Аналитика целевых групп туристов</b> на&nbsp;уровне</small></td>
          <td class="border px-2 py-1"><small>регионов</small></td>
          <td class="text-center border"><span class="dot"></span></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1"><small>городов</small></td>
          <td class="text-center border"></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1" rowspan="3"><small><b>Рейтинги по&nbsp;интересу к&nbsp;турпродуктам</b> на&nbsp;уровне</small></td>
          <td class="border px-2 py-1"><small>регионов</small></td>
          <td class="text-center border"><span class="dot"></span></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1"><small>городов</small></td>
          <td class="text-center border"></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr>
          <td class="border px-2 py-1" nowrap><small>точек притяжения</small></td>
          <td class="text-center border"></td>
          <td class="text-center border"><span class="dot"></span></td>
        </tr>
        <tr class="border">
          <td class="border px-2 py-1 rounded-2 rounded-bottom" colspan="2"><small><b>Рекомендации искусственного интеллекта</b></small></td>
          <td width="21%" class="text-center border"><span class="dot"></span></td>
          <td width="21%" class="text-center border"><span class="dot"></span></td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
