{% extends "account/base_col6.html" %}

{% load account %}

{% block title %}Подтвердите Email. {% endblock %}

{% block content_block %}
  <h1>Подтвердите Email</h1>

  {% if confirmation %}

  {% user_display confirmation.email_address.user as user_display %}

  <p>{% with confirmation.email_address.email as email %}Подтвердите Email <a href="mailto:{{ email }}">{{ email }}</a> для&nbsp;пользователя {{ user_display }}{% endwith %}</p>

  <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
      {% csrf_token %}
      <button class="btn btn-primary btn-lg px-4" type="submit">Подтвердить</button>
  </form>

  {% else %}

  {% url 'account_email' as email_url %}

  <p>Неправильная ссылка для&nbsp;подтверждения Email. <a href="{{ email_url }}">Повторите запрос</a></p>

  {% endif %}
{% endblock %}
