{% extends "account/base_col6.html" %}

{% load static %}
{% load i18n %}
{% load account %}

{% block title %}{% trans "Password Reset" %} {% endblock %}

{% block content_block %}
  <h1 class="mb-4">{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>Введите Email, указанный при&nbsp;регистрации,&nbsp;и мы вышлем письмо для&nbsp;сброса пароля</p>
  {{ form.errors }}
  <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="email" required class="form-control" name="email" id="inputEmail">
      <label for="inputEmail" class="form-label">Email</label>
    </div>
    <div class="d-flex justify-content-end">
      <!-- <input type="submit" class="btn btn-primary btn-lg" value="Сбросить пароль" /> -->
      <button type="submit" class="btn btn-primary btn-lg"><svg fill="#FFFFFF" width="18" height="18" class="me-2"><use href="{% static 'img/sprite.svg' %}#password"></use></svg>Сбросить пароль</button>
    </div>
  </form>
{% endblock %}
