{% extends "outside.html" %}

{% load static %}
{% load i18n %}

{% block title %}Регистрация. {% endblock %}

{% block ogtitle %}Регистрация. {% endblock %}

{% block ogimage %}{% static 'img/og/login.png' %}{% endblock %}
{% block ogimage_secure %}{% static 'img/og/login.png' %}{% endblock %}

{% block vkimage %}{% static 'img/og/login.1200.530.png' %}{% endblock %}
{% block vkimage_secure %}{% static 'img/og/login.1200.530.png' %}{% endblock %}

{% block css_external %}
  <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    {{ block.super }}
{% endblock %}

{% block content %}
  <div class="row">
    <h1>{% trans "Sign Up" %}</h1>
  </div>
  <form class="signup has-masked" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {% include "include/sign_up_fields.html" %}
  </form>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/select2.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.min.js' %}"></script>
  <script src="{% static 'js/region.selector.js' %}"></script>
  <script src="{% static 'js/city.selector.js' %}"></script>
  <script src="{% static 'js/user.clear.phone.mask.js' %}"></script>
{% endblock %}
