{% extends "user/pdf/document_base.html" %}
{% load text %}

{% block title %}Аналитический сервис ацеста. Коммерческое предложение на аналитический отчёт{% endblock %}
{% block filename %}Коммерческое предложение на аналитический отчёт — ацеста — {% now "d.m.Y" %}.pdf{% endblock %}

{% block content %}
  <p>Аналитический сервис ацеста предлагает рассмотреть возможность использования услуги <strong>«Аналитический отчет»</strong>.</p>
  <p>Преимущества использования сервиса:</p>
  <ul>
    <li>методика построения отчетов доказала свою эффективность в регионах</li>
    <li>аналитика строится на актуальных данных Яндекс.Подбор слов, ВКонтакте и Росстат</li>
    <li>сервис охватывает все регионы Российской Федерации</li>
    <li>срок выполнения до 2-х недель</li>
  </ul>
  <p>Создание аналитического отчета по техническому заданию дает возможность создания отчетов, которые не вошли в базовый набор.</p>
  <p>Характеристики и стоимость услуги «Аналитический отчет»:</p>
  <table class="pdf-table">
    <tbody>
      <tr>
        <td style="width: 40%">Регион</td>
        <td><strong>{{ region.title|nobreak_spaces }}</strong> (ранг {{ region.rank }})</td>
      </tr>
      <tr>
        <td>Описание</td>
        <td>Создание произвольного аналитического отчета о туристическом потенциале региона в табличном виде или в формате презентации</td>
      </tr>
      <tr>
        <td>Срок выполнения</td>
        <td>1 месяц</td>
      </tr>
      <tr>
        <td>Стоимость</td>
        <td><strong>от 100 000 ₽</strong></td>
      </tr>
    </tbody>
  </table>
  <div class="pdf-note">
    <p>НДС не облагается.</p>
    <p>Услуги оказываются на основании Оферты. Оплата услуг осуществляется на основании счета. По факту оказания услуг предоставляется акт выполненных работ.</p>
    <p>Срок указанной стоимости по данному предложению: {% now "d.m.Y" %}.</p>
  </div>
{% endblock %}
