{% extends "account/base_col6.html" %}

{% load static %}

{% block title %}Регистрация. {% endblock %}

{% block description %}Регистрация на аналитическом сервисе для развития туризма ацеста{% endblock %}

{% block ogtitle %}Регистрация. {% endblock %}

{% block ogimage %}{% static 'img/og/login.png' %}{% endblock %}
{% block ogimage_secure %}{% static 'img/og/login.png' %}{% endblock %}

{% block vkimage %}{% static 'img/og/login.vk.png' %}{% endblock %}
{% block vkimage_secure %}{% static 'img/og/login.vk.png' %}{% endblock %}

{% block content_block %}
  <h1>Регистрация</h1>

  <p>Для завершения регистрации заполните форму</p>
  <form class="signup has-masked" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {% include "include/sign_up_fields_1.html" %}
  </form>
{% endblock %}
