{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}{% if TITLE %}{{ TITLE }}{% else %}Аналитика в туризме — ацеста{% endif %}</title>
    {% block meta %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}{{ TITLE }}" />
    <meta property="og:description" content = "Аналитический сервис для оценки туристического потенциала, нахождения точек роста и разработки эффективных стратегий развития на уровне точки притяжения, города, региона" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block ogimage %}{% static 'img/og/acesta.png' %}{% endblock %}" />
    <meta property="og:image:secure_url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block ogimage_secure %}{% static 'img/og/acesta.png' %}{% endblock %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toast.css' %}">
    {% block css_external %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.svg' %}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.svg' %}" type="image/svg+xml">
  </head>
  <body>
    {% block modals %}{% endblock %}
    {% block body %}{% endblock %}
    {% block js %}
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
      <script src="{% static 'js/size.to.cookie.js' %}"></script>
      <script src="{% static 'js/tooltip.js' %}"></script>
      <script src="{% static 'js/toast.min.js' %}"></script>
      {% if messages %}
        {% include "include/messages.html" %}
      {% endif %}
      {% include "include/metrika.html" %}
    {% endblock %}
  </body>
</html>
