{% load static %}
{% load requests %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}{% if TITLE %}{{ TITLE }}{% else %}Аналитика в туризме — ацеста{% endif %}</title>
    <meta name="description" content="{% block description %}Аналитический сервис для оценки туристического потенциала, нахождения точек роста и разработки эффективных стратегий развития туризма{% endblock %}"/>
    {% block meta %}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="ru_RU" />
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}{{ TITLE }}" />
    <meta property="og:description" content = "Аналитический сервис для оценки туристического потенциала, нахождения точек роста и разработки эффективных стратегий развития на уровне точки притяжения, города, региона" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ request.path }}" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block ogimage %}{% static 'img/og/acesta.cover.png' %}{% endblock %}" />
    <meta property="og:image:secure_url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block ogimage_secure %}{% static 'img/og/acesta.cover.png' %}{% endblock %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/og/acesta.logo.600.600.png' %}" />
    <meta property="og:image:secure_url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/og/acesta.logo.600.600.png' %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="600" />
    <meta property="vk:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block vkimage %}{% static 'img/og/acesta.cover.vk.png' %}{% endblock %}" />
    <meta property="vk:image:secure_url" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% block vkimage_secure %}{% static 'img/og/acesta.cover.vk.png' %}{% endblock %}" />
    <meta property="vk:image:type" content="image/png" />
    <meta property="vk:image:width" content="537" />
    <meta property="vk:image:height" content="240" />
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/toast.css' %}">
    <link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
    {% block css_external %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <link rel="icon" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.svg' %}" type="image/svg+xml">
    <link rel="shortcut icon" href="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{% static 'img/favicon.svg' %}" type="image/svg+xml">
  </head>
  <body>
    {% block modals %}
      {% if not request.user.is_authenticated or not request.user.is_accustomed %}
        {% request_modal subject=REQUEST_CONSULTATION %}
      {% endif %}

      {% with url=request.resolver_match.url_name %}
        {% if url != 'terms' %}
          <div class="modal fade legacy" id="terms" tabindex="-1" role="dialog" aria-labelledby="termsLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-80" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-nowrap fw-bolder" id="termsLabel">Условия использования</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 pb-4">
                  {% include 'include/terms_content.html' %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        {% if url != 'privacy' %}
          <div class="modal fade legacy" id="privacy" tabindex="-1" role="dialog" aria-labelledby="privacyLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-80" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-nowrap fw-bolder" id="privacyLabel">Политика конфиденциальности</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body pt-0 pb-4">
                  {% include 'include/privacy_content.html' %}
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endwith %}
    {% endblock %}

    {% block body %}{% endblock %}
    {% block js %}
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/jquery.cookie.min.js' %}"></script>
      <script src="{% static 'js/size.to.cookie.js' %}"></script>
      <script src="{% static 'js/tooltip.js' %}"></script>
      <script src="{% static 'js/toast.min.js' %}"></script>

      <script src="{% static 'js/select2.min.js' %}"></script>
      <script src="{% static 'js/jquery.mask.min.js' %}"></script>
      <script src="{% static 'js/user.clear.phone.mask.js' %}"></script>
      <script src="{% static 'js/channel.selector.js' %}"></script>
      {% block messages %}
        {% if messages %}
          {% include "include/messages.html" %}
        {% endif %}
      {% endblock messages %}
      {% if not DEBUG %}
        {% include "include/metrika.html" %}
      {% endif %}
    {% endblock %}
  </body>
</html>
