{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">{% endblock %}

{% block content %}
<div id="content-main">
  <div class="container-fluid px-0">
    <div class="row mt-0">
      <div class="col-12 col-md-6 overflow-auto ps-0" style="height: 78vh;">
        <table class="table table-hover table-responsive">
          <tr style="position:sticky;top:0;z-index:1;">
            <th width="220"><a href="{% url 'monitor_popularity' sort='ppt_code' %}">Регион</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='ppt_wrong_region' %}">Неправильный регион</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='ppt_no_data' %}">Точек без данных</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='ppt_old_data' %}">Точек со старыми данными</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='ppt_few_queries' %}">Заниженные запросы</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='ppt_many_queries' %}">Завышенные запросы</a></th>
          </tr>
          {% for code, data in ppt.items %}
          <tr>
            <td>{{ code }} {{ data.title }}</td>
            <td class="text-end{% if data.wrong_region != 0%} text-white bg-danger fw-bold{% endif %}">{{ data.wrong_region }}</td>
            <td class="text-end{% if data.no_data != 0%} text-white bg-danger fw-bold{% endif %}">{{ data.no_data }}</td>
            <td class="text-end{% if data.old_data != 0%} text-white bg-danger fw-bold{% endif %}">{{ data.old_data }}</td>
            <td class="text-end{% if data.few_queries != 0%} text-white bg-danger fw-bold{% endif %}">
              {{ data.few_queries }}
            </td>
            <td class="text-end{% if data.many_queries != 0%} text-white bg-danger fw-bold{% endif %}">
              {{ data.many_queries }}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="col-12 col-md-6 overflow-auto pe-0" style="height: 78vh;">
        <table class="table table-hover table-responsive">
          <tr style="position:sticky;top:0;z-index:1;">
            <th width="220"><a href="{% url 'monitor_popularity' sort='suspicious_queries_code' %}">Регион</a> ({{ suspicious_queries|length }})</th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='suspicious_queries_sight_id' %}">id</a></th>
            <th><a href="{% url 'monitor_popularity' sort='suspicious_queries_sight_title' %}">Название</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='suspicious_queries_kernel' %}">Ядро</a></th>
            <th class="text-end"><a href="{% url 'monitor_popularity' sort='suspicious_queries_qty' %}">Запросы</a> </th>
          </tr>
          {% for sight in suspicious_queries %}
          <tr>
            <td>{{ sight.code }} {{ sight.title }}</td>
            <td class="text-end">{{ sight.sight_id|stringformat:"i" }}</td>
            <td class="text-white bg-danger fw-bold">{{ sight.sight_title }}</td>
            <td class="text-end">{{ sight.kernel }}</td>
            <td class="text-end">{{ sight.qty }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
