        <caption class="caption-top">
          <a href="{% url 'monitor' %}" class="section" title="Монитор">Монитор</a>
        </caption>
        <tbody>
          <tr class="model">
            <th scope="row"><a href="{% url 'monitor_sights' %}">Точки притяжения</a></th>
          </tr>
          <tr class="model">
            <th scope="row"><a href="{% url 'monitor_popularity' %}">Популярность</a></th>
          </tr>
          <tr class="model">
            <th scope="row"><a href="{% url 'monitor_audience' %}">Аудитория</a></th>
          </tr>
        </tbody>
