{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar">
  <div class="app-monitor module">
      <table width="100%" style="margin-top:20px">
        <caption>
          <a href="{% url 'monitor' %}" class="section" title="Монитор">Монитор</a>
        </caption>
      </table>
    </div>
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
