 {% load static %}

<div class="contact-block d-flex align-content-center me-4">
  <span class="d-none d-md-inline-flex align-items-center text-muted">Свяжитесь с&nbsp;нами</span>
  <ul class="list-unstyled d-flex align-items-center mb-0 ms-1">
    <li class="d-inline-flex align-items-center ms-2"><a href="https://api.whatsapp.com/message/YOCCDANM5REQP1" target="_blank" title="Написать в WhatsApp" rel="external nofollow"><svg fill="#95f0e8"><use href="{% static 'img/sprite.svg' %}#whatsapp_colored"></use></svg></a></li>
    <li class="d-inline-block ms-1"><a href="https://t.me/eugena" target="_blank" title="Написать в Telegram" rel="external nofollow"><svg fill="#95f0e8"><use href="{% static 'img/sprite.svg' %}#telegram_colored"></use></svg></a></li>
    <li class="d-inline-block ms-1"><a href="viber://chat?number=%2B79961882120" target="_blank" title="Написать в Viber" rel="external nofollow"><svg fill="#95f0e8"><use href="{% static 'img/sprite.svg' %}#viber_colored"></use></svg></a></li>
  </ul>
</div>
