{% load static %}
<footer class="footer">
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-xl-3 logo_col d-flex flex-column justify-content-between">
          <div>
            <svg class="logo_img" viewBox="0 0 686 270" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="acesta_bm">
                <use fill="#FFFFFF" href="{% static 'img/sprite.svg' %}#logo-text"></use>
                <g id="flower_bm">
                  <use href="{% static 'img/sprite.svg' %}#logo-flower"></use>
                </g>
                <use href="{% static 'img/sprite.svg' %}#logo-base"></use>
                <rect id="bg" width="686" height="270" fill="white" opacity="0"/>
              </g>
            </svg>
            <h5>{{ HASH_TAGS }}</h5>
          </div>
          <div class="logo_legacy">
            <ul class="list-unstyled mb-0">
              <li><a href="{% url 'terms' %}" ><small>Условия использования</small></a></li>
              <li><a href="{% url 'privacy' %}"><small>Политика конфиденциальности</small></a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-xl-4 winner mt-5 mt-sm-0">
          <svg class="winner_img" width="83" height="120"><use href="{% static 'img/sprite.svg' %}#winner"></use></svg>
          <span class="desc">Основано<br>на методике<br>победителе</span><br><strong>Конкурса цифровых<br>решений для&nbsp;регионов</strong>
        </div>
        <div class="col-12 col-sm-6 col-xl-2 mt-5 mt-xl-0">
          <ul class="list-unstyled">
            <li class="mt-2"><a href="{% url 'help' %}" title="Открыть подробное описание"><svg fill="#95f0e8" width="26" height="26" class="me-2"><use href="{% static 'img/sprite.svg' %}#help"></use></svg>О сервисе</a></li>
            <li class="mt-2"><a href="#" data-bs-toggle="modal" data-bs-target="#{{ REQUEST_PRESENTATION }}" title="Скачать презентацию"><svg fill="#95f0e8" width="26" height="26" class="me-2"><use href="{% static 'img/sprite.svg' %}#presentation"></use></svg>Презентация</a></li>
            <li class="mt-2"><a href="#" data-bs-toggle="modal" data-bs-target="#{{ REQUEST_CONSULTATION }}" title="Запросить консультацию"><svg fill="#95f0e8" width="26" height="26" class="me-2"><use href="{% static 'img/sprite.svg' %}#consultation"></use></svg>Консультация</a></li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-xl-3 mt-5 mt-xl-0 d-xl-flex justify-content-end">
          <div>
            <div class="ps-1 mt-2">Мы в&nbsp;сети</div>
            <ul class="list-unstyled mt-2 we-are-in-network">
              {% comment %}
              <li class="d-inline-block ms-1"><a href="https://www.facebook.com/analyticsInTourism/" target="_blank"><svg fill="#95f0e8" width="48" height="48"><use href="{% static 'img/sprite.svg' %}#facebook_nocolor"></use></svg></a></li> -->
              {% endcomment %}
              <li class="d-inline-block ms-1"><a href="https://smarteka.com/practices/analiz-cifrovogo-sleda-turista-2" target="_blank" title="Мы на&nbsp;Смартеке" rel="external nofollow"><svg><use href="{% static 'img/sprite.svg' %}#smarteka_nocolor"></use></svg></a></li>
              <li class="d-inline-block ms-1"><a href="https://chat.whatsapp.com/KJqbPU0QRI5FUO2OZT9KWE" target="_blank" title="Мы в&nbsp;WhatsApp" rel="external nofollow"><svg><use href="{% static 'img/sprite.svg' %}#whatsapp_nocolor"></use></svg></a></li>
              <li class="d-inline-block ms-1"><a href="https://t.me/acesta_ru" target="_blank" title="Мы в&nbsp;Телеграм" rel="external nofollow"><svg><use href="{% static 'img/sprite.svg' %}#telegram_nocolor"></use></svg></a></li>
              <li class="d-inline-block ms-1"><a href="https://www.vk.com/acesta_ru" target="_blank" title="Мы ВКонтакте" rel="external nofollow"><svg><use href="{% static 'img/sprite.svg' %}#vk_nocolor"></use></svg></a></li>
              <li class="d-inline-block ms-1"><a href="https://github.com/Fiery-brain/acesta" target="_blank" title="Мы на&nbsp;github" rel="external nofollow"><svg><use href="{% static 'img/sprite.svg' %}#github_nocolor"></use></svg></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
{% include "include/request_button.html" %}
