{% load static %}
      <tr>
        <td valign="top">
          <img width="130" src="{% static 'img/acesta-ru-full.png' %}">
        </td>
        <td>
          <p class="t0 b0"><strong>{{ TITLE }}</strong></p>
          <p class="t0 b0">ИП Михайликова Евгения Александровна</p>
          <p class="t0 b0">ИНН 666001308820</p>
          <p class="t0 b0">Расчетный счет 40802810900004782663 в АО «ТБанк», БИК банка 044525974</p>
          <p class="t0 b0">Веб-сайт <a href="https://acesta.ru">https://acesta.ru</a></p>
          <p class="t0 b0">Email <a href="mailto:info@acesta.ru">info@acesta.ru</a></p>
        </td>
      </tr>
      <tr>
        <td colspan="2" align="center">
          <h1>Коммерческое предложение</h1>
        </td>
      </tr>
