  <div class="row pt-3">
    <div class="col-12 col-md-4 p-0">
      <div id="privacy-pills-container">
        <ul class="nav nav-pills flex-column" id="privacy-pills" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active ps-3" id="privacy-pills-1-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-1" type="button" role="tab" aria-controls="privacy-pills-1" aria-selected="true">1.&nbsp;Определение понятий</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-2-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-2" type="button" role="tab" aria-controls="privacy-pills-2" aria-selected="false">2.&nbsp;Отношения, на&nbsp;которые распространяется политика</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-3-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-3" type="button" role="tab" aria-controls="privacy-pills-3" aria-selected="false">3.&nbsp;Перечень собираемых персональных данных</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-4-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-4" type="button" role="tab" aria-controls="privacy-pills-4" aria-selected="false">4.&nbsp;Цели сбора и&nbsp;обработки персональных данных</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-5-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-5" type="button" role="tab" aria-controls="privacy-pills-5" aria-selected="false">5.&nbsp;Доступ третьих лиц к&nbsp;персональным данным</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-6-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-6" type="button" role="tab" aria-controls="privacy-pills-6" aria-selected="false">6.&nbsp;Размещение рекламы</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-7-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-7" type="button" role="tab" aria-controls="privacy-pills-7" aria-selected="false">7.&nbsp;Направление жалоб и&nbsp;запросов правообладателю</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-8-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-8" type="button" role="tab" aria-controls="privacy-pills-8" aria-selected="false">8.&nbsp;Сроки и&nbsp;порядок хранения персональных данных</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-9-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-9" type="button" role="tab" aria-controls="privacy-pills-9" aria-selected="false">9.&nbsp;Доступ несовершеннолетних к&nbsp;сайту</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-10-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-10" type="button" role="tab" aria-controls="privacy-pills-10" aria-selected="false">10.&nbsp;Порядок защиты персональных данных</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="privacy-pills-11-tab" data-bs-toggle="pill" data-bs-target="#privacy-pills-11" type="button" role="tab" aria-controls="privacy-pills-11" aria-selected="false">11.&nbsp;Заключительные положения</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-3 mt-md-0">
      <div class="tab-content" id="privacy-pillsContent">
        <div class="tab-pane fade show active" id="privacy-pills-1" role="tabpanel" aria-labelledby="privacy-pills-1-tab">
          <h2 class="mb-3">1. Определение понятий</h2>
          <p><strong>Закон</strong> означает Федеральный закон Российской Федерации «О персональных данных» со&nbsp;всеми изменениями и&nbsp;дополнениями, а&nbsp;также иные законодательные акты Российской Федерации. </p>
          <p><strong>Сайт</strong> означает информационную единицу в&nbsp;Интернете, ресурс из веб-страниц (документов), которые объединены общей темой и&nbsp;связаны между друг с&nbsp;другом с&nbsp;помощью ссылок. Он зарегистрирован на&nbsp;Правообладателя и&nbsp;обязательно привязан к&nbsp;конкретному домену, являющемуся его адресом. Настоящая Политика разработана для&nbsp;следующего сайта: <a href="https://acesta.ru" target="_blank" class="text-nowrap">https://acesta.ru</a>.</p>
          <p><strong>Персональные данные</strong> означает совокупность личных данных <span class="text-nowrap">и/или</span> неперсонифицированной информации о&nbsp;Пользователе, предоставляемую им самим Правообладателю <span class="text-nowrap">и/или</span> автоматически собираемую Правообладателем <span class="text-nowrap">и/или</span> третьими лицами.</p>
          <p><strong>Политика</strong> означает настоящею Политику конфиденциальности для&nbsp;веб-сайта (со всеми существующими дополнениями и&nbsp;изменениями). </p>
          <p><strong>Пользователь</strong> означает юридическое или&nbsp;физическое лицо, которое пользуется Сайтом <span class="text-nowrap">и/или</span> получило к&nbsp;нему доступ с&nbsp;какого-либо устройства.</p>
          <p><strong>Пользовательское соглашение</strong> означает соглашение, заключаемое между Правообладателем и&nbsp;Пользователем в&nbsp;отношении порядка, правил и&nbsp;особенностей использования Сайта. Пользователь присоединяется к&nbsp;такому соглашению и&nbsp;не имеет права вносить <span class="text-nowrap">и/или</span> требовать внесения в&nbsp;него каких-либо изменений или&nbsp;дополнений. Пользователь может ознакомиться с&nbsp;условиями Пользовательского соглашения по&nbsp;следующей ссылке: <a href="https://acesta.ru/terms" target="_blank" class="text-nowrap">https://acesta.ru/terms</a>.</p>
          <p><strong>Правообладатель</strong> означает следующее лицо, на&nbsp;имя которого зарегистрирован Сайт: Михайликова&nbsp;Е.&nbsp;А.</p>
          <p><strong>Файлы куки</strong> означает небольшие файлы, отправляемые каким-либо сайтом, и&nbsp;размещаемые на&nbsp;компьютерах, смартфонах, планшетах, часах и&nbsp;других мобильных устройствах Пользователя, для&nbsp;улучшения работы сайтов, а&nbsp;также качества размещенного в&nbsp;них контента.</p>
        </div>
        <div class="tab-pane fade" id="privacy-pills-2" role="tabpanel" aria-labelledby="privacy-pills-2-tab">
          <h2 class="mb-3">2. Отношения, на&nbsp;которые распространяется политика</h2>
          <p><strong>Общие положения</strong></p>
          <p>Данная Политика используется и&nbsp;применима исключительно к&nbsp;Персональным данным, получаемым от&nbsp;Пользователя в&nbsp;связи с&nbsp;использованием им Сайта. Положения данной Политики направлены на:</p>
          <ol>
            <li>определение видов и&nbsp;типов получаемых Персональных данных, направлений и&nbsp;целей использования (обработки) Персональных данных, а&nbsp;также источников получения таких Персональных данных; и</li>
            <li>определение прав Пользователя в&nbsp;отношении защиты конфиденциальности передаваемых им Персональных данных; и</li>
            <li>определение лиц, ответственных за&nbsp;обработку и&nbsp;хранение Персональных данных, а&nbsp;также третьих лиц, которым такие данные раскрываются (полностью или&nbsp;частично).</li>
          </ol>
          <p>Правила настоящей Политики не&nbsp;применяются в&nbsp;случае обработки третьими лицами Персональных данных, которые добровольно предоставляются Пользователем.</p>
          <p>Посредством использования Сайта Пользователь соглашается с&nbsp;условиями данной Политики и&nbsp;дает свое согласие Правообладателю на&nbsp;сбор, обработку, удержание и&nbsp;хранение Персональных данных в&nbsp;порядке и&nbsp;на условиях, предусмотренных настоящей Политикой.</p>
          <p>Если Пользователь не&nbsp;согласен с&nbsp;условиями Политики <span class="text-nowrap">и/или</span> отдельные условия Политики ему не&nbsp;понятны, в&nbsp;таком случае Пользователь обязан немедленно прекратить использование Сайта.</p>
          <p><strong>Права пользователя по&nbsp;защите персональных данных</strong></p>
          <p>В связи с&nbsp;предоставлением Персональных данных Пользователь автоматически получает следующие права:</p>
          <ol>
            <li>получать данные, касающиеся их обработки (основания и&nbsp;цели такой обработки, применяемые способы обработки, сведения о&nbsp;лицах, которые имеют доступ к&nbsp;ним или&nbsp;которым они могут быть раскрыты на&nbsp;основании договора или&nbsp;Закона);</li>
            <li>получать данные о&nbsp;месте нахождения и&nbsp;идентификационных данных лиц, совершающих обработку Персональных данных;</li>
            <li>получать данные о&nbsp;сроках хранения Персональных данных;</li>
            <li>получать данные об осуществленной или&nbsp;о&nbsp;предполагаемой трансграничной передаче Персональных данных;</li>
            <li>обжаловать действия или&nbsp;бездействие Правообладателя в&nbsp;уполномоченный орган по&nbsp;защите прав субъектов персональных данных или&nbsp;в&nbsp;судебном порядке;</li>
            <li>получать возмещение убытков <span class="text-nowrap">и/или</span> компенсацию морального вреда в&nbsp;судебном порядке в&nbsp;следствие допущенных Правообладателем<span class="text-nowrap">и/или</span> третьими лицами нарушений прав Пользователя на&nbsp;охрану и&nbsp;защиту его Персональных данных;</li>
            <li>реализовывать иные права в&nbsp;области защиты персональных данных, предусмотренные Законом или&nbsp;положениями данной Политики.</li>
          </ol>
        </div>
        <div class="tab-pane fade" id="privacy-pills-3" role="tabpanel" aria-labelledby="privacy-pills-3-tab">
          <h2 class="mb-3">3. Перечень собираемых персональных данных</h2>
            <p><strong>Неперсонифицированная информация о&nbsp;пользователях</strong></p>
            <p>В связи с&nbsp;использованием Сайта Правообладатель может автоматически собирать и&nbsp;обрабатывать следующею неперсонифицированную информацию о&nbsp;Пользователе:</p>
            <ol>
              <li>информацию о&nbsp;трафике, возможном количестве совершенных кликов, логи и&nbsp;другие данные;</li>
              <li>информацию об устройстве (идентификационный номер устройства, с&nbsp;которого выполняется вход, операционная система, платформа, тип браузера и&nbsp;другая информация о&nbsp;браузере, IP адрес).</li>
            </ol>
            <p><strong>Личные данные о&nbsp;пользователях</strong></p>
            <p>Пользователь предоставляет Правообладателю о&nbsp;себе следующие личные данные: </p>
            <ol>
              <li>полные фамилию, имя и&nbsp;отчество;</li>
              <li>адрес электронной почты;</li>
              <li>номер мобильного телефона;</li>
              <li>место работы и&nbsp;должность;</li>
              <li>данные, которые содержатся в&nbsp;личном кабинете (профиле) Пользователя, все внутренние переписки Пользователя (если есть), а&nbsp;также иная активность личного кабинета (профиля) Пользователя;</li>
              <li>данные и&nbsp;информация, получаемая в&nbsp;результате объединения тех или&nbsp;иных Персональных данных конкретного Пользователя, а&nbsp;также данные и&nbsp;информация, получаемые данные о&nbsp;Пользователе, получаемые от&nbsp;третьих лиц (партнеров, маркетологов, исследователей).</li>
            </ol>
            <p>Пользователь является единственным ответственным лицом за&nbsp;полноту предоставляемых личных (персональных) данных и&nbsp;обязан осуществлять своевременное их изменение (обновление, проверку, корректировку) на&nbsp;регулярной основе.</p>
            <p>Правообладатель исходит из того, что все предоставленные Пользователем личные (персональные) данные являются достоверными, и&nbsp;что Пользователь поддерживает такую информацию в&nbsp;актуальном состоянии.</p>
            <p><strong>Использование файлов куки</strong></p>
            <p>Сайт применяет определенные Файлы куки для&nbsp;сохранения IP-адреса, предпочтений Пользователей или&nbsp;типа используемого устройства с&nbsp;целью:
            <ol>
              <li>ведения статистики посещений и&nbsp;трафика сайта, и;</li>
              <li>персонализации выводимых на&nbsp;экран Пользователя данных, и;</li>
              <li>сохранения данных, необходимых для&nbsp;идентификации Пользователя, в&nbsp;том числе при&nbsp;доступе с&nbsp;разных устройств, и;</li>
              <li>показа рекламы в&nbsp;соответствии с&nbsp;интересами и&nbsp;предпочтениями Пользователя. Сайт может использовать как собственные Файлы куки, принадлежащие Правообладателю, так и&nbsp;Файлы куки третьих лиц.</li>
            </ol>
            <p>Сайт использует следующие Файлы куки:</p>
            <ol>
              <li>Технические (функциональные) Файлы куки, которые нужны для&nbsp;контроля трафика и&nbsp;передачи данных, для&nbsp;идентификации Пользователей и&nbsp;предоставления доступа Пользователю к&nbsp;контенту и&nbsp;без которых использование Сайта является функционально ограниченным, а&nbsp;также для&nbsp;предотвращения предоставления рекомендаций, не&nbsp;соответствующих интересам Пользователя.</li>
              <li>Статистические Файлы куки, которые нужны для&nbsp;отслеживания частоты посещаемости сайта Пользователями, для&nbsp;выявления способов использования Сайта, а&nbsp;также для&nbsp;выявления типа и&nbsp;вида контента, который является популярными или&nbsp;интересным для&nbsp;Пользователя.</li>
              <li>Файлы куки третьих лиц, которые устанавливаются третьими лицами с&nbsp;разрешения Пользователя и&nbsp;предназначены для&nbsp;проведения статистических исследований, касающихся поведения Пользователя в&nbsp;сети Интернет <span class="text-nowrap">и/или</span> направления персонализированных рекламных или&nbsp;маркетинговых материалов Пользователю<span class="text-nowrap">и/или</span> предоставления товаров или&nbsp;услуг.</li>
            </ol>
            <p>Пользователь имеет право в&nbsp;любой момент отключить Файлы куки путем изменения определенных настроек браузера. Такое отключение может повлечь за&nbsp;собой ограничение или&nbsp;изменение доступа Пользователя к&nbsp;функциональным возможностям Сайта <span class="text-nowrap">и/или</span> его контенту. для&nbsp;отключения Файлов куки нужно Пользователь должен воспользоваться инструкцией браузера.</p>

        </div>
        <div class="tab-pane fade" id="privacy-pills-4" role="tabpanel" aria-labelledby="privacy-pills-4-tab">
          <h2 class="mb-3">4. Цели сбора и&nbsp;обработки персональных данных</h2>
          <p><strong>Определение целей обработки</strong></p>
          <p>Сбор и&nbsp;обработка Персональных данных осуществляется в&nbsp;следующих целях:</p>
          <ol>
            <li>для анализа поведения Пользователя, а&nbsp;также выявления предпочтений Пользователя к&nbsp;определенному виду контента;</li>
            <li>для оперативной и&nbsp;корректной работы Сайта, улучшения его функциональности и&nbsp;контента;</li>
            <li>для идентификации Пользователя;</li>
            <li>для соблюдения требований Закона;</li>
            <li>для отслеживания заказов, совершенных Пользователем через Сайт;</li>
            <li>для технической поддержки Сайта, выявления проблем в&nbsp;его работе и&nbsp;их устранение;</li>
            <li>для поддержания связи с&nbsp;Пользователем (коммуникация);</li>
            <li>для выполнения иных обязательств Правообладателя, которые возникли перед Пользователем;</li>
            <li>для проведения статистических исследований;</li>
            <li>для любых других целей, при&nbsp;условии получения отдельного согласия от&nbsp;Пользователя.</li>
          </ol>
          <p>Обработка Персональных данных осуществляется на&nbsp;основе принципов:
          <ol>
            <li>законности целей и&nbsp;способов обработки; и</li>
            <li>добросовестности; и</li>
            <li>соответствия целей обработки Персональных данных целям, заранее определенным и&nbsp;заявленным при&nbsp;сборе таких Персональных данных; и</li>
            <li>соответствия объема и&nbsp;характера обрабатываемых Персональных данных заявленным целям их обработки.</li>
          </ol>
          <p><strong>Условия обработки персональных данных</strong></p>
          <p>Обработка Персональных данных проводится в&nbsp;случаях:
          <ol>
            <li>получения согласия от&nbsp;Пользователя; или&nbsp;</li>
            <li>достижения Правообладателем целей, предусмотренных международным договором или&nbsp;Законом; или&nbsp;</li>
            <li>предоставления Пользователем своих Персональных данных неограниченному кругу лицу; или&nbsp;</li>
            <li>выполнения иных обязательств Правообладателя перед Пользователем, включая, однако не&nbsp;ограничиваясь, предоставление определенного контента Пользователю; или&nbsp;</li>
            <li>спасения жизни или&nbsp;здоровья Пользователя, когда согласие на&nbsp;обработку его Персональных данных не&nbsp;удается получить заблаговременно.</li>
          </ol>
          <p>В случае обезличивания Персональных данных, что не&nbsp;позволяет прямо или&nbsp;опосредованно определить Пользователя, последующее использование и&nbsp;раскрытие таких данных третьим лицам допускается и&nbsp;в&nbsp;отношении их более не&nbsp;применяются правила данной Политики.</p>
          <p>Правообладатель принимает все возможные меры для&nbsp;защиты конфиденциальности полученных Персональных данных, за&nbsp;исключением случаев, когда Пользователь сделал такие данные общедоступными.</p>
          <p>Обработка Персональных данных осуществляется с&nbsp;использованием средств автоматизации и&nbsp;без использования таких средств автоматизации.<br><br></p>

        </div>
        <div class="tab-pane fade" id="privacy-pills-5" role="tabpanel" aria-labelledby="privacy-pills-5-tab">
          <h2 class="mb-3">5. Доступ третьих лиц к&nbsp;персональным данным</h2>
          <p><strong>Использование аналитических платформ</strong></p>
          <p>Правообладатель использует аналитическую платформу Yandex для:
          <ol>
            <li>отслеживания частоты посещаемости сайта Пользователями; и</li>
            <li>отслеживания способов использования Пользователем Сайта <span class="text-nowrap">и/или</span> его контента; и</li>
            <li>выявления типа и&nbsp;вида контента, который является популярными среди Пользователей; и&nbsp;</li>
            <li>определения места нахождения Пользователя. Пользователь также дает свое согласие Правообладателю на&nbsp;использование им информации, полученной о&nbsp;Пользователе от&nbsp;Yandex.</li>
          </ol>
          <p>Для указанных целей аналитическая платформа Yandex может собирать данные об IP адресе, геолокации, поведении Пользователя, а&nbsp;также его предпочтениях и&nbsp;интересе в&nbsp;отношении определенного контента.</p>
          <p>Аналитическая платформа Yandex получает доступ к&nbsp;Персональным данным с&nbsp;тем, чтобы предоставить Правообладателю понимание того, насколько эффективно работает его Сайт, какой именно контент является популярным, насколько эффективно размещение в&nbsp;нем той или&nbsp;иной рекламы, а&nbsp;также для&nbsp;целей разработки <span class="text-nowrap">и/или</span> улучшения существующей маркетинговой стратегии Правообладателя.</p>
          <p>С момента использования Сайта Пользователь соглашается с&nbsp;Политикой конфиденциальности (Privacy Policy) Yandex, а&nbsp;также с&nbsp;автоматической установкой на&nbsp;устройство Пользователя соответствующих Файлов куки.</p>
          <p><strong>Раскрытие третьим лицам</strong></p>
          <p>Компания обязуется не&nbsp;раскрывать третьим лицам и&nbsp;не распространять персональные данные без&nbsp;согласия субъекта персональных данных, если иное не&nbsp;предусмотрено федеральным законом.</p>
        </div>
        <div class="tab-pane fade" id="privacy-pills-6" role="tabpanel" aria-labelledby="privacy-pills-6-tab">
          <h2 class="mb-3">6. Размещение рекламы</h2>
          <p><strong>Реклама на&nbsp;Сайте</strong></p>
          <p>Правообладатель не&nbsp;размещает рекламу на&nbsp;Сайте.<br><br></p>
        </div>
        <div class="tab-pane fade" id="privacy-pills-7" role="tabpanel" aria-labelledby="privacy-pills-7-tab">
          <h2 class="mb-3">7. Направление жалоб и&nbsp;запросов правообладателю</h2>
          <p><strong>Требование о&nbsp;прекращении обработки персональных данных</strong></p>
          <p>Каждый Пользователь имеет право выразить свое возражение Правообладателю против обработки <span class="text-nowrap">и/или</span> хранения его Персональных данных. Такое возражение может быть отправлено по&nbsp;электронной почте <a href="mailto:info@acesta.ru">info@acesta.ru</a>.</p>
          <p><strong>Запрос на&nbsp;получение информации о&nbsp;персональных данных</strong></p>
          <p>Если у Пользователя возникают вопросы, связанные с&nbsp;порядком применения или&nbsp;использования настоящий Политики, порядком <span class="text-nowrap">и/или</span> способом обработки Персональных данных, Пользователь может задать такой вопрос по&nbsp;электронной почте <a href="mailto:info@acesta.ru">info@acesta.ru</a>.</p>
          <p><strong>Изменение (обновление, дополнение, корректировка) или&nbsp;удалении персональных данных</strong></p>

          <p>Пользователь имеет право в&nbsp;любой момент самостоятельно изменить или&nbsp;удалить свои Персональные данные, за&nbsp;исключением случаев, когда такое изменение или&nbsp;удаление может привести:
          <ol>
            <li>к нарушению правил настоящей Политики; или&nbsp;</li>
            <li>к нарушению Закона; или&nbsp;</li>
            <li>характер таких Персональных данных является доказательством в&nbsp;каком-либо судебном процессе, возникшем между Правообладателем и&nbsp;Пользователем. для&nbsp;этого Пользователю требуется удалить свой личный аккаунт (профиль) на&nbsp;Сайте.</li>
          </ol>

          <p>Правообладатель имеет право в&nbsp;любой момент удалить личный аккаунт/профиль Пользователя, а&nbsp;также все Персональные данные о&nbsp;Пользователе, если он нарушил условия данной Политики <span class="text-nowrap">и/или</span> Пользовательского соглашения.<br><br></p>

        </div>
        <div class="tab-pane fade" id="privacy-pills-8" role="tabpanel" aria-labelledby="privacy-pills-8-tab">
          <h2 class="mb-3">8. Сроки и&nbsp;порядок хранения персональных данных</h2>
          <p>Хранение осуществляется самостоятельно Правообладателем.</p>
          <p>Хранение осуществляется в&nbsp;течение всего срока использования Пользователем Сайта.<br><br></p>
        </div>
        <div class="tab-pane fade" id="privacy-pills-9" role="tabpanel" aria-labelledby="privacy-pills-9-tab">
          <h2 class="mb-3">9. Доступ несовершеннолетних к&nbsp;сайту</h2>
          <p>Сайт может быть использовано лицами в&nbsp;возрасте до 18 лет. </p>
          <p>Сайт собирает личные данные о&nbsp;Пользователях, потому использование настоящего Сайта несовершеннолетними Пользователями допускается только при&nbsp;условии получения предварительного согласия от&nbsp;законного представителя (опекуна) на&nbsp;обработку Персональных данных. </p>
          <p>Если несовершеннолетний Пользователь не&nbsp;может предоставить согласие на&nbsp;обработку его Персональных данных от&nbsp;законного представителя (опекуна), в&nbsp;таком случае такой Пользователь обязан немедленно прекратить использование Сайта.<br><br></p>
        </div>
        <div class="tab-pane fade" id="privacy-pills-10" role="tabpanel" aria-labelledby="privacy-pills-10-tab">
          <h2 class="mb-3">10. Порядок защиты персональных данных</h2>
          <p>Защита конфиденциальности Персональных данных является первостепенной и&nbsp;важной задачей для&nbsp;Правообладателя. Правообладатель придерживается всех требуемых международных стандартов, правил и&nbsp;рекомендаций по&nbsp;защите Персональных данных.</p>
          <p>Правообладатель внедрил ряд технических и&nbsp;организационных методов, направленных на&nbsp;защиту Персональных данных от&nbsp;разглашения или&nbsp;несанкционированного доступа к&nbsp;ним третьих лиц. для&nbsp;обеспечения сохранности и&nbsp;конфиденциальности получаемых Персональных данных Правообладатель использует следующие средства защиты:</p>
          <ol>
            <li>SSL (Security Sockets Layer) протокол;</li>
            <li>автоматическое сохранение данных.</li>
          </ol>
        </div>
        <div class="tab-pane fade" id="privacy-pills-11" role="tabpanel" aria-labelledby="privacy-pills-11-tab">
          <h2 class="mb-3">11. Заключительные положения</h2>
          <p><strong>Доступность текста политики для&nbsp;ознакомления</strong></p>
          <p>Пользователи могут ознакомиться с&nbsp;условиями данной Политики по&nbsp;следующей ссылке: <a href="https://acesta.ru/privacy" target="_blank" class="text-nowrap">https://acesta.ru/privacy</a>.</p>
          <p>Данная редакция Политики действует от&nbsp;<span id="span_id_date">1 марта 2022 годa</span>.</p>
          <p><strong>Изменение и&nbsp;дополнение политики</strong></p>
          <p>Настоящая Политика может быть изменена время от&nbsp;времени. Правообладатель не&nbsp;несет какой-либо ответственности перед Пользователем за&nbsp;изменение условий данной Политики без&nbsp;разрешения <span class="text-nowrap">и/или</span> согласия Пользователя.</p>
          <p>Пользователь сам обязуется на&nbsp;регулярной основе проверять положения данной Политики на&nbsp;предмет ее возможного изменения или&nbsp;дополнения. </p>
          <p><strong>Применимое законодательство</strong></p>
          <p>Настоящая Политика разработана в&nbsp;соответствие с&nbsp;действующим законодательством о&nbsp;защите персональных данных Российской Федерации, в&nbsp;частности, с&nbsp;нормами Федерального закона от&nbsp;27 июля 2006 года № 152-ФЗ «О персональных данных» (со всеми дополнениями и&nbsp;изменениями), Федерального закона от&nbsp;21 июля 2014 года № 242-ФЗ "О&nbsp;внесении изменений в&nbsp;отдельные законодательные акты Российской Федерации в&nbsp;части уточнения порядка обработки персональных данных в&nbsp;информационно-телекоммуникационных сетях" (со всеми дополнениями и&nbsp;изменениями).</p>
        </div>
      </div>
    </div>
  </div>
