{% load static %}
{% for sight in region_sights %}
  <tr data-sight-row data-sight-name="{{ sight }}">
    <td width="22" class="pe-1"><a href="#" data-bs-toggle="tooltip" title="{{ sight.group.all.0.title }}"><svg width="24" height="24"><use href="{% static 'img/sprite.svg' %}#{{ sight.group.all.0.name }}"></use></svg></a></td>
    <td class="ps-1">
      <small class="sight-title" data-sight-label>{{ sight }}</small>
    </td>
    <td width="254">
      <div class="text-muted">
        <small class="d-inline-flex sight-location">
          {% if sight.city and sight.code.region_type != REGION_TYPE_FEDERAL_CITY %}
            {{ sight.city }}
          {% else %}
            {{ sight.code }}
          {% endif %}
        </small>
      </div>
    </td>
  </tr>
{% endfor %}
