{% load static %}
<div class="form-floating mt-3 mb-2">
  <input type="text" required class="form-control{% if form.first_name.errors %} is-invalid{% endif %}" name="first_name" id="inputFirstName" maxlength="150" value="{{ form.first_name.value|default_if_none:'' }}" pattern="[А-Яа-яЁё ]+">
  <label for="inputFirstName" class="form-label">Имя (на русском языке)</label>
  {% if form.first_name.errors %}
    <div class="invalid-feedback">Имя должно быть на русском языке</div>
  {% endif %}
</div>
<div class="form-floating mb-2">
  <input type="email" required class="form-control{% if form.email.errors %} is-invalid{% endif %}" name="email" id="inputEmail" value="{{ form.email.value|default_if_none:'' }}">
  <label for="inputEmail" class="form-label">Email</label>
  {% if form.email.errors %}
    <div class="invalid-feedback">Email уже используется</div>
  {% endif %}
</div>
<div class="form-floating mb-2">
  <input type="tel" required pattern="\+[0-9]\([0-9]{3}\) [0-9]{3}-[0-9]{2}-[0-9]{2}" class="form-control" name="phone" id="inputPhone" title="Телефон" data-mask="+0(000) 000-00-00" value="{{ form.phone.value|default_if_none:'' }}">
  <label for="inputPhone" class="form-label">Телефон</label>
</div>
{% if redirect_field_value %}
<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
{% endif %}

<div>
  <small>Регистрируясь на&nbsp;сайте соглашаюсь с&nbsp;<a href="#" type="button" data-bs-toggle="modal" data-bs-target="#terms">Условиями использования</a><br>и&nbsp;<a href="#" type="button" data-bs-toggle="modal" data-bs-target="#privacy">Политикой конфиденциальности</a></small>
</div>
<div class="mt-3">
  <button type="submit" class="btn btn-primary btn-lg px-4"><svg fill="#FFFFFF" width="22" height="22" class="me-2"><use href="{% static 'img/sprite.svg' %}#sign-up"></use></svg>Зарегистрироваться</button>
</div>
