  <div class="row pt-3">
    <div class="col-12 col-md-4 p-0">
      <div id="terms-pills-container">
        <ul class="nav nav-pills flex-column" id="terms-pills" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active ps-3" id="terms-pills-1-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-1" type="button" role="tab" aria-controls="terms-pills-1" aria-selected="true">1.&nbsp;Определение понятий</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-2-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-2" type="button" role="tab" aria-controls="terms-pills-2" aria-selected="false">2.&nbsp;Присоединение к&nbsp;соглашению</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-3-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-3" type="button" role="tab" aria-controls="terms-pills-3" aria-selected="false">3.&nbsp;Пользователи сайта</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-4-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-4" type="button" role="tab" aria-controls="terms-pills-4" aria-selected="false">4.&nbsp;Интеллектуальная собственность</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-5-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-5" type="button" role="tab" aria-controls="terms-pills-5" aria-selected="false">5.&nbsp;Порядок работы с&nbsp;сайтом</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-6-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-6" type="button" role="tab" aria-controls="terms-pills-6" aria-selected="false">6.&nbsp;Размещение рекламы на&nbsp;сайте</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-7-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-7" type="button" role="tab" aria-controls="terms-pills-7" aria-selected="false">7.&nbsp;Совершение покупок на&nbsp;сайте</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-8-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-8" type="button" role="tab" aria-controls="terms-pills-8" aria-selected="false">8.&nbsp;Оформление подписки на&nbsp;сайте</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-9-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-9" type="button" role="tab" aria-controls="terms-pills-9" aria-selected="false">9.&nbsp;Прекращение доступа к&nbsp;сайту</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-10-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-10" type="button" role="tab" aria-controls="terms-pills-10" aria-selected="false">10.&nbsp;Задать вопрос</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link ps-3" id="terms-pills-11-tab" data-bs-toggle="pill" data-bs-target="#terms-pills-11" type="button" role="tab" aria-controls="terms-pills-11" aria-selected="false">11.&nbsp;Заключительные положения</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-8 mt-3 mt-md-0">
      <div class="tab-content" id="terms-pillsContent">
        <div class="tab-pane fade show active" id="terms-pills-1" role="tabpanel" aria-labelledby="terms-pills-1-tab">
          <h2 class="mb-3">1. Определение понятий</h2>
          <p>В тексте настоящего Соглашения нижеизложенным терминам дано следующее значение:</p>
            <p><strong>Сайт</strong> означает следующий сайт: <b>Аналитика в&nbsp;туризме — ацеста</b>, который принадлежит Администрации и&nbsp;находится по&nbsp;следующей ссылке: <a href="https://acesta.ru" class="text-nowrap">https://acesta.ru</a>.</p>
            <p><strong>Пользователь</strong>, <strong>Вы</strong>, <strong>Ваш</strong>, <strong>Вас</strong>, <strong>Вами</strong> или&nbsp;какие-либо другие схожие производные (в&nbsp;зависимости от&nbsp;контекста) означает лицо, которое:
            <ol>
                <li>пользуется Сайтом <span class="text-nowrap">и/или</span> получило доступ к&nbsp;его Контенту; и</li>
                <li>дало свое согласие на&nbsp;соблюдение правил пользования Сайтом, изложенных в&nbsp;тексте данного Соглашения, путем использования данного Сайта.</li>
            </ol>
            <p><strong>Администрация<!--Компания--></strong>, <strong>Мы</strong>, <strong>Наш</strong>, <strong>Нас</strong>, <strong>Нами</strong> или&nbsp;какие-либо другие схожие производные — уполномоченные сотрудники, которые управляют Сайтом.</p>
            <p><strong>Контент сайта</strong> означает все объекты, размещенные на&nbsp;Сайте, в&nbsp;том числе элементы дизайна, текст, графические изображения, иллюстрации, видео, программы, музыка, звуки, информация, уведомления и&nbsp;какие-либо другие объекты схожего назначения, их подборки или&nbsp;комбинации.</p>
            <p><strong>ПО сайта</strong> означает программное обеспечение Сайта, включая, однако не&nbsp;ограничиваясь, весь софт, скрипты, коды (HTML коды), программы и&nbsp;т.&nbsp;п.</p>
            <p><strong>Услуги</strong> означает совокупно Контент сайта и&nbsp;ПО сайта.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-2" role="tabpanel" aria-labelledby="terms-pills-2-tab">
          <h2 class="mb-3">2. Присоединение к&nbsp;соглашению</h2>
          <p>2.1. Пользователи используют Сайт для&nbsp;следующих целей:</p>
          <p><em>доступ к&nbsp;аналитическим отчетам в&nbsp;сфере туризма</em></p>
          <p>2.2. Настоящее Пользовательское соглашение (далее <strong>Соглашение</strong>) определяет правила и&nbsp;порядок использования Сайта и&nbsp;Услуг, права и&nbsp;обязанности Пользователей, а&nbsp;также регулирует поведение Пользователей при&nbsp;получении доступа к&nbsp;Сайту и&nbsp;Услугам.</p>
          <p>2.3. Пользователь принимает условия данного Соглашения посредством продолжения использования Сайта.</p>
          <p>2.4. Данное Соглашение является обязательным для&nbsp;его сторон (т.е. для&nbsp;Администрации и&nbsp;Пользователя). Уступка Пользователем своих прав по&nbsp;данному Соглашению возможна только после получения предварительного письменного согласия от&nbsp;Администрации.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-3" role="tabpanel" aria-labelledby="terms-pills-3-tab">
          <h2 class="mb-3">3. Пользователи сайта</h2>
          <p><strong>Общие критерии и&nbsp;возраст</strong></p>
          <p>3.1. для&nbsp;использования Сайта Пользователи должны соответствовать следующим критериям (совокупно):</p>
          <ul>
            <li>быть не&nbsp;младше 15 лет; и</li>
            <li>не быть ограниченным в&nbsp;праве доступа к&nbsp;Сайту и&nbsp;Услугам на&nbsp;основании решения суда, вступившего в&nbsp;законную силу, или&nbsp;в&nbsp;случаях, предусмотренных действующим законодательством или&nbsp;условиями данного Соглашения.</li>
          </ul>
          <p><strong>Регистрация на&nbsp;сайте и&nbsp;создание личного аккаунта</strong></p>
          <p>3.2. для&nbsp;использования Сайта <span class="text-nowrap">и/или</span> получения доступа к&nbsp;Услугам Пользователям требуется пройти обязательную бесплатную регистрацию при&nbsp;входе на&nbsp;Сайт. Использование Сайта без&nbsp;регистрации невозможно. по&nbsp;результатам завершения регистрации Пользователь получает уникальный логин и&nbsp;пароль для&nbsp;входа в&nbsp;его личный аккаунт (кабинет).</p>
          <p>3.3. для&nbsp;регистрации Пользователю необходимо предоставить следующею информацию о&nbsp;себе:</p>
          <ol>
            <li>полные фамилию, имя и&nbsp;отчество;</li>
            <li>адрес электронной почты;</li>
            <li>номер мобильного телефона;</li>
            <li>место работы и&nbsp;должность.</li>
          </ol>
        </div>
        <div class="tab-pane fade" id="terms-pills-4" role="tabpanel" aria-labelledby="terms-pills-4-tab">
          <h2 class="mb-3">4. Интеллектуальная собственность</h2>
          <p>4.1. Администрации принадлежат все без&nbsp;исключения права собственности, включая имущественные права интеллектуальной собственности, на&nbsp;весь Контент сайта, а&nbsp;также по&nbsp;сайта. по&nbsp;сайта и&nbsp;Контент сайта защищены авторским правом в&nbsp;порядке, предусмотренном действующим гражданским законодательством Российской Федерации, а&nbsp;также международными договорами и&nbsp;конвенциями в&nbsp;области защиты объектов интеллектуальной собственности.</p>
          <p>4.2. Пользователям запрещено копировать, воспроизводить, модифицировать, компилировать, распространять, отображать в&nbsp;какой-либо форме, публиковать, скачивать, передавать, продавать или&nbsp;иным способом распространять или&nbsp;использовать Контент сайта и&nbsp;ПО сайта, кроме случаев, когда такие действия ПРЯМО разрешены условиями данного Соглашения или&nbsp;действующим законодательством Российской Федерации.</p>
          <p>4.3. Ничто в&nbsp;тексте данного Соглашения не&nbsp;может быть истолковано как передача Пользователю каких-либо исключительных прав на&nbsp;Контент сайта (полностью или&nbsp;в&nbsp;отдельной части) <span class="text-nowrap">и/или</span> по&nbsp;сайта.</p>
          <p>4.4. Администрация владеет всеми правами в&nbsp;отношении торговых марок, коммерческих (бизнес) наименований, брендов, логотипов, зарегистрированных на&nbsp;ее имя (далее <strong>Торговые марки</strong>). Такие Торговые марки защищаются действующим законодательством и&nbsp;НИЧТО в&nbsp;тексте данного Соглашения не&nbsp;может быть истолковано как передача какой-либо лицензии Пользователю на&nbsp;использование таких Торговых марок.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-5" role="tabpanel" aria-labelledby="terms-pills-5-tab">
          <h2 class="mb-3">5. Порядок работы с&nbsp;сайтом</h2>
          <p><strong>Правила поведения на&nbsp;сайте</strong></p>
          <p>5.1. Во время использования Сайта Пользователь обязуется придерживаться следующих правил:</p>
          <ol>
            <li>соблюдать все обязательства, взятые на&nbsp;себя Пользователем в&nbsp;связи с&nbsp;присоединением к&nbsp;данному Соглашению; и</li>
            <li>предоставлять достоверные о&nbsp;себе данные во время регистрации на&nbsp;Сайте и&nbsp;для&nbsp;создания личного аккаунта (кабинета);&nbsp;и</li>
            <li>не выдавать себя за&nbsp;какое-либо другое лицо, включая, однако не&nbsp;ограничиваясь, не&nbsp;предоставлять какие-либо данные третьих лиц (без получения от&nbsp;них прямого, предварительного и&nbsp;осознанного согласия) для&nbsp;регистрации на&nbsp;Сайте <span class="text-nowrap">и/или</span> для&nbsp;создания личного аккаунта (кабинета);&nbsp;и</li>
            <li>информировать Администрацию о&nbsp;хищении логинов, паролей или&nbsp;каких-либо других ключей доступа Пользователя к&nbsp;личному аккаунту (кабинету);&nbsp;и</li>
            <li>не предоставлять третьим лицам доступ к&nbsp;своему аккаунту (кабинету) <span class="text-nowrap">и/или</span> логины, пароли или&nbsp;другие ключи доступа;&nbsp;и</li>
            <li>не совершать какие-либо действия (с&nbsp;использованием средств автоматизации или&nbsp;без&nbsp;таких средств), направленные на&nbsp;сбор каких-либо персональных данных других Пользователей; и</li>
            <li>не предпринимать какие-либо действия и&nbsp;не помогать третьим лицам в&nbsp;совершении действий, направленных на&nbsp;подрыв работы Сайта, включая, однако не&nbsp;ограничиваясь, <strong>(а)</strong> загружать вирусы или&nbsp;вредоносный код;
            <strong> (б)</strong> совершать действия, которые могут привести к&nbsp;отключению Сайта, к&nbsp;нарушению нормальной работы Сайта или&nbsp;ПО сайта, или&nbsp;к ухудшению внешнего вида Сайта <span class="text-nowrap">и/или</span> Контента Сайта.</li>
            <li>не предпринимать какие-либо иные действия, которые являются незаконными, мошенническими, дискриминационными или&nbsp;вводящими в&nbsp;заблуждение.</li>
          </ol>
          <p><strong>Отзывы о&nbsp;работе сайта</strong></p>
          <p>5.2. Каждый Пользователь время от&nbsp;времени имеет право (но не&nbsp;обязанность) оставлять или&nbsp;направлять свои идеи, отзывы, предложения или&nbsp;проекты, направленные на&nbsp;улучшение работы Сайта или&nbsp;качества предоставляемых Услуг. Такие отзывы могут быть направлены Пользователем по&nbsp;электронной почте <a href="mailto:info@acesta.ru">info@acesta.ru</a>.</p>
          <p>5.3. В&nbsp;случае направления такой идеи, отзыва, предложения или&nbsp;проекта Пользователь автоматически предоставляет нам неисключительную, не&nbsp;требующую лицензионных отчислений, действующую по&nbsp;всему миру лицензию с&nbsp;правом передачи и&nbsp;выдачи сублицензий на&nbsp;хранение, использование, распространение, изменение, запуск, копирование, публичное исполнение или&nbsp;показ, перевод Ваших идей, отзывов, предложений или&nbsp;проектов, а&nbsp;также создание производных работ на&nbsp;их основе.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-6" role="tabpanel" aria-labelledby="terms-pills-6-tab">
          <h2 class="mb-3">6. Размещение рекламы на&nbsp;сайте</h2>
          <p>6.1. Администрация не&nbsp;размещает на&nbsp;Сайте какие-либо рекламные или&nbsp;маркетинговые материалы.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-7" role="tabpanel" aria-labelledby="terms-pills-7-tab">
          <h2 class="mb-3">7. Совершение покупок на&nbsp;сайте</h2>
          <p><strong>Общие положения</strong></p>
          <p>7.1. Пользователи имеют возможность приобретать подписку на&nbsp;Сайте. Продавцом таких услуг выступает непосредственно Администрация.</p>
          <p>7.2. Администрация не&nbsp;хранит какие-либо данные о&nbsp;Вашей дебетовой или&nbsp;кредитной карте, используемой для&nbsp;оплаты.</p>
          <p>7.3. Администрация предоставляет заказанную услугу только после получения оплаты в&nbsp;полном объеме.</p>
          <p>7.4. Пользователь имеет право предъявить Администрации требование о&nbsp;возврате уплаченных им ранее денежных средств за&nbsp;услугу, если такая услуга не&nbsp;была получена Пользователем в&nbsp;согласованный срок. в&nbsp;таком случае Администрация обязуется в&nbsp;течение <em>10 (десяти) календарных дней</em> осуществить возврат такой суммы в&nbsp;полном объеме (за&nbsp;исключением банковских комиссий и&nbsp;издержек, которые могли быть начислены Вашим обслуживающим банком при&nbsp;оплате услуг).</p>
          <p><strong>Порядок оплаты</strong></p>
          <p>7.5. Стоимость услуг на&nbsp;Сайте указывается в&nbsp;российских рублях. Оплата за&nbsp;услуги также должна быть проведена в&nbsp;российских рублях.</p>
          <p>7.6. Если у Вас нет счета в&nbsp;указанной валюте, в&nbsp;таком случае Вы можете воспользоваться Вашей дебетовой или&nbsp;кредитной картой, а&nbsp;обслуживающий банк (держатель дебетовой или&nbsp;кредитной карты) проведет соответствующею конвертацию по&nbsp;обменному курсу согласно его внутрибанковским правилам. Администрация не&nbsp;отвечает за&nbsp;обменный курс, используемый Вашим обслуживающим банком при&nbsp;такой конвертации.</p>
          <p>7.7. Пользователь может провести оплату по&nbsp;безналичному расчету.</p>
          <p>7.8. Услуга считается оплаченной Пользователем в&nbsp;полном объеме с&nbsp;момента подтверждения исполнения такого платежа банковским учреждением, обслуживающим дебетовую или&nbsp;кредитную карту Пользователя, которая была им использована для&nbsp;оплаты.</p>
          <p>7.9. Администрация не&nbsp;берет на&nbsp;себя какую-либо ответственность за&nbsp;убытки, ущерб, упущенную выгоду, потерю деловой репутации, возникшие у Пользователя из-за задержки в&nbsp;оплате, что в&nbsp;свою очередь могло привести к&nbsp;задержке с&nbsp;нашей стороны в&nbsp;предоставлении Вам услуги.</p>
          <p><strong>Акции на&nbsp;сайте</strong></p>
          <p>7.10. Время от&nbsp;времени Администрация может размещать на&nbsp;Сайте какие-либо акционные предложения на&nbsp;услуги. Периодичность размещения таких предложений, а&nbsp;также их условия определяются исключительно Администрацией.</p>
          <p>7.11. Пользователь осведомлен, что количество акционных предложений на&nbsp;услуги ограничено.</p>
          <p>7.12. Администрация не&nbsp;гарантирует и&nbsp;не обещает Пользователям, что<strong> (1)</strong> приобретение акционных услуг на&nbsp;Сайте является каким-либо образом выгодным для&nbsp;Пользователя <span class="text-nowrap">и/или</span> третьих лиц;&nbsp;и<strong> (2)</strong> стоимость акционных услуг должна быть в&nbsp;обязательном порядке ниже их обычной стоимости на&nbsp;Сайте или&nbsp;на других веб-сайтах третьих лиц.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-8" role="tabpanel" aria-labelledby="terms-pills-8-tab">
          <h2 class="mb-3">8. Оформление подписки на&nbsp;сайте</h2>
          <p><strong>Общие положения</strong></p>
          <p>8.1. Приобретение подписки дает Пользователю доступ к&nbsp;полному перечню аналитических отчетов.</p>
          <p>8.2. На&nbsp;Сайте доступна подписка на&nbsp;срок от&nbsp;одного месяца. При&nbsp;оформлении подписки на&nbsp;срок от полугода предоставляется скидка.</p>
          <p><strong>Порядок оформления подписки</strong></p>
          <p>8.3. Пользователь имеет право оформить подписку в&nbsp;любой момент отправив запрос в&nbsp;личном аккаунте (кабинете).</p>
          <p>8.4. Оплата подписки должна быть проведена в&nbsp;валюте, указанной на&nbsp;Сайте. Стоимость подписки включает обязательные налоги и&nbsp;сборы.</p>
          <p>8.5. Пользователь имеет возможность оплаты подписки по&nbsp;безналичному расчету.</p>
          <p>8.6. Если Пользователь отменяет подписку, такой Пользователь не&nbsp;имеет права требовать какого-либо пропорционального или&nbsp;полного возмещения ранее уплаченных сумм за&nbsp;подписку и&nbsp;продолжает пользоваться контентом до&nbsp;истечения срока действия оплаченного периода подписки.</p>
          <p><strong>Порядок прекращения и&nbsp;возобновления подписки</strong></p>
          <p>8.7. Подписка будет автоматически прекращена после окончания оплаченного периода. Пользователь может возобновить подписку в&nbsp;любое время, для этого Пользователь создает в&nbsp;личном кабинете новую заявку на&nbsp;подписку.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-9" role="tabpanel" aria-labelledby="terms-pills-9-tab">
          <h2 class="mb-3">9. Прекращение доступа к&nbsp;сайту</h2>
          <p>9.1. Пользователь имеет право в&nbsp;любой момент прекратить использование Сайта посредством удаления своего аккаунта для&nbsp;этого Пользователю необходимо сделать запрос по&nbsp;электронной почте <a href="mailto:info@acesta.ru">info@acesta.ru</a>.</p>
          <p>9.2. в&nbsp;случае:
            <ol>
              <li>нарушения Пользователем условий настоящего Соглашения; <span class="text-nowrap">и/или</span></li>
              <li>нарушения прав интеллектуальной собственности Администрации, других Пользователей или&nbsp;третьих лиц; <span class="text-nowrap">и/или</span></li>
              <li>совершения действий, которые являются противозаконными, нарушают права и&nbsp;интересы Администрации, других Пользователей или&nbsp;третьих лиц или&nbsp;подрывают работу Сайта или&nbsp;возможность использования Сайта другими Пользователями; <span class="text-nowrap">и/или</span></li>
              <li>Услуги или&nbsp;Сайт используется Пользователем таким образом, что это может повлечь юридическую ответственность Администрации в&nbsp;будущем; <span class="text-nowrap">и/или</span></li>
              <li>если этого требует действующее законодательство или&nbsp;компетентный государственный орган, </li>
            </ol>
          <p>Администрация имеет право без&nbsp;предварительного уведомления в&nbsp;любой момент прекратить (остановить) доступ Пользователя к&nbsp;Сайту и&nbsp;его Услугам.</p>
          <p>9.3. Такое прекращение доступа кроме прочего также подразумевает удаление личного аккаунта Пользователя.</p>
          <p>9.4. Пользователь должным образом осведомлен, что Администрация не&nbsp;берет на&nbsp;себя ответственность за&nbsp;какой-либо ущерб, убытки, упущенную выгоду, потерю деловой или&nbsp;личной репутации, причиненные Пользователю удалением или&nbsp;блокировкой аккаунта <span class="text-nowrap">и/или</span> невозможностью доступа к&nbsp;Сайту и&nbsp;его Услугам.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-10" role="tabpanel" aria-labelledby="terms-pills-10-tab">
          <h2 class="mb-3">10. Задать вопрос</h2>
          <p>10.1. Если у Вас есть вопросы касательно условий настоящего Соглашения или&nbsp;<span class="text-nowrap">порядка/способа</span> их исполнения, Вы можете отправить нам свой вопрос по&nbsp;электронной почте <a href="mailto:info@acesta.ru">info@acesta.ru</a>.</p>
          <p>10.2. Сотрудники и&nbsp;представители Администрации обязуются предпринять все возможные усилия для&nbsp;дачи ответа на&nbsp;Ваш запрос в&nbsp;течение разумного периода времени.</p>
        </div>
        <div class="tab-pane fade" id="terms-pills-11" role="tabpanel" aria-labelledby="terms-pills-11-tab">
          <h2 class="mb-3">11. Заключительные положения</h2>
          <p>11.1. Настоящее Соглашение вступает в&nbsp;силу с&nbsp;момента его опубликования на&nbsp;Сайте (по&nbsp;следующей ссылке: <a href="https://acesta.ru/terms" target="_blank" class="text-nowrap">https://acesta.ru/terms</a>) и&nbsp;действуют в&nbsp;течение неопределенного периода времени.</p>
          <p>11.2. Мы можем время от&nbsp;времени пересматривать, дополнять или&nbsp;изменять условия данного Соглашения. Такие изменения, как правило, не&nbsp;являются ретроспективными. Администрация не&nbsp;берет на&nbsp;себя какую-либо обязанность по&nbsp;уведомлению пользователей о&nbsp;предстоящих или&nbsp;состоявшихся изменениях текста соглашения. Посредством присоединения к&nbsp;условиям данного Соглашения Пользователь также берет на&nbsp;себя обязательство периодически просматривать условия данного Соглашения на&nbsp;предмет их изменения или&nbsp;дополнения.</p>
          <p>Если после проведенных изменений или&nbsp;дополнений в&nbsp;тексте Соглашения Пользователь продолжает пользоваться Сайтом, это значит, что он ознакомлен с&nbsp;изменениями или&nbsp;дополнениями и&nbsp;их принял в&nbsp;полном объеме без&nbsp;каких-либо возражений.</p>
          <p>11.3. Если иное прямо не&nbsp;указано в&nbsp;положениях настоящего Соглашения или&nbsp;прямо не&nbsp;вытекает из норм действующего законодательства, к&nbsp;условиям настоящего Договора применяется материальное право Российской Федерации.</p>
          <p>11.4. Неотъемлемой частью настоящего Соглашение является Политика конфиденциальности для&nbsp;сайта.</p>
          <p>11.5. Если одно или&nbsp;несколько условий данного Соглашения утратило свою юридическую силу или&nbsp;признано недействительным согласно действующему законодательству, остальные условия Соглашения не&nbsp;теряют своей силы и&nbsp;продолжают действовать так, словно признанного недействительным или&nbsp;утратившим юридическую силу условия не&nbsp;существовало вовсе.</p>
          <p>11.6. Доступ к&nbsp;Сайту и&nbsp;его Услугам предоставляется Пользователю «как есть», Мы не&nbsp;обещаем, не&nbsp;гарантируем, не&nbsp;подразумеваем, что Услуги и&nbsp;Сайт могут подходить или&nbsp;не&nbsp;подходить Вашим потребностям, целям, ожиданиям, и&nbsp;в&nbsp;связи с&nbsp;чем не&nbsp;гарантируем какого-либо специфического результата или&nbsp;последствия в&nbsp;результате использования Вами Сайта и&nbsp;его Услуг.</p>
        </div>
      </div>
    </div>
  </div>
